/* App.css */
.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8fafc;
}

main {
    flex: 1 0 auto;
    animation: fadeIn 0.5s ease-in;
}
footer {
    flex-shrink: 0;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}